 * {
     box-sizing: border-box;
     font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
 }

 h1 {
     text-align: center;
 }

 form {
     box-shadow: 10px 20px 35px;
     width: 360px;
     margin: auto;
     border: 1px solid gray;
     padding: 20px;
     border-radius: 12px;
 }

 label {
     display: block;
 }

 input {
     margin: 15px;
     width: 90%;
     padding: 5px;
     border: 1px solid gray;
     border-radius: 5px;
 }

 input[type="submit"] {
     background-color: rgb(51, 68, 165);
     color: white;
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     font-size: 15px;
 }